.logo{
    display: inline-block;
    height:27px;
    width:27px;
    
    vertical-align: middle;
   
}
.logo:hover{
    background-color: white;
    transform: scale(2);
    box-shadow: 0px 0px 5px 5px;
    z-index: 111;
}
.Logo-Container{
    position: relative;
}


.Logo-Container .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -65px;
  }
  
.Logo-Container .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .Logo-Container:hover .tooltiptext {
    visibility: visible;
  }