#root {
  width: 100%;
}

body::before{
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background-image: url("https://i.pinimg.com/originals/54/f6/b6/54f6b6f2ae1a943856acc5d8479a1a9c.jpg");
  background-size: cover;
  position: fixed;
  filter: brightness(40%);
  
  z-index: -1;
  height:100vh;
}


.navbar-Container{
  width:40%;
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-top:5px;
  padding-bottom:5px;
  font-size:30px;
}

.dayCount{
  color:white;
  font-weight:250;
  font-size: larger;
  margin-bottom: .5rem;
}

#archive{
  margin-right: 25px;
  width:35px;
  height:35px;
}



#archive:hover{
  color: rgb(174, 174, 174);
  cursor: pointer;
}

#about:hover{
  color: rgb(174, 174, 174);
  cursor: pointer;
}

.siteName{
  border: 2px solid #EBBABF;
  background-color: black;
  border-radius: 100%;
  padding:4px;
}

#about{
  margin-left: 25px;
  
  width:35px;
  height:35px;
}

.utlities{
  display: flex;
}


.game-container{
  
  margin-top:5%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
 
  
}

.dailyAnime-Container{
  display:flex;
  
  

}

@keyframes slide-left{
  0%{
    transform: translate(130.75px, 0);
  }
  100%{
    transform: translate(0, 0);
  }
}

.guessImageContainer{
  display:grid;
  width:225px;
  /*border: 5px solid #a958a5;*/
  border-radius: 5px;
  position: relative;
  
  
}

.guessImageContainer::before, .guessImageContainer::after{
  content:"";
  inset:-.1rem;
  border-radius: inherit;
  background-color: #EBBABF;
  position:absolute;
  z-index: -1;
}

.guessImageContainer::after{
  filter:blur(3.5rem);
}


#image{
  grid-area: 1 / 1;
  border-radius: 5px;
}

#pixel-container{
  height:320px;
  width:224px;
  grid-area: 1 / 1;
  display:grid;
  grid-template-columns: 32px 32px 32px 32px 32px 32px 32px;
  grid-template-rows: 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
}
#pixel2{
  grid-column: 2;
}

.guessField-Container{
  width:225px;
}

.dailyAnimeInfo-Container{
  height:320px;
  width:225px;
  background-color: rgb(0, 0, 0);
  display: block;
  overflow: scroll;
  text-align: left;
  border: .1rem solid #EBBABF;
  border-radius: 5px;
  margin-left: 35px;
  
  box-shadow: 0px 0px 120px 15px  #EBBABF;

  z-index:-1;
  
}

@keyframes slide{
  0%{
    transform: translate(-130.75px, 0);
  }
  100%{
    transform: translate(0, 0);
  }
  
}


.dailyAnimeInfo-Title{
  text-align:center;
  font-weight: 1000;
}

.infoItem-Container{
  display: flex;
  overflow-wrap: normal;
}

.label{
  color:#EBBABF;
  font-size: 18px;
  line-height: 21.5px;
}

.infoList-Container{
  padding-left:20px;
  margin-top: 5px;
}

.synopsis{
  color:#a958a5;
  font-size: 18px;
  line-height: 21.5px;
  height: fit-content;
}

.altName-label{
  color:gray;
  font-weight:250;
}

.guessField{
  width:100%;
  height:2em;
  border:1px grey solid;
  border-radius: 2.5px;
  padding:0;
  margin-bottom:.5rem;
  margin-top: .5rem;
  background-color: white;
  color: black;
}

.dropDown{
  display:block;
  z-index: 100;
  position:absolute;
  height:200px;
  width:225px;
  background-color: white;
  color:black;
  overflow: scroll;
  margin:0;
  text-shadow: none;
  text-align: left;
}

.guessList{
  list-style-type: none;
  padding:0;
  
}
.guessList li{
  border-bottom: 1px lightgray solid;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}
.guessList li:hover{
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}

.button-container{
  display: flex;
  justify-content: space-between;
  
}

.skipButton{
  width: 35%;
  border:0;
  border-radius: .1rem;
  background-color: #f4aa89;
  font-weight: 900;
  font-size:15px;
  text-shadow: 1px 1px black;
  height:2rem;
  cursor: pointer;
  
  border: .05rem solid hsl(19, 83%, 65%);
  box-shadow: -1px 1px hsl(19, 83%, 65%), -2px 2px hsl(19, 83%, 65%), -3px 3px hsl(19, 83%, 65%);
}

.skipButton:hover{
  background-color:	hsl(19, 83%, 65%);
  border: 1px solid #f4aa89;
  box-shadow: -1px 1px #f4aa89, -2px 2px #f4aa89, -3px 3px #f4aa89;
}


.guessButton{
  width: 60%;
  border:0;
  border-radius: .1rem;
  background-color: hsl(213, 68%, 30%);
  font-weight: 900;
  font-size:15px;
  text-shadow: 1px 1px black;
  height:2rem;
  cursor: pointer;

  border: 1px solid #12355F;
  box-shadow: -1px 1px #12355F, -2px 2px #12355F, -3px 3px #12355F;
}

.guessButton:hover{
  background-color: #12355F;
  border: 1px solid hsl(213, 68%, 30%);
  box-shadow: 1px -1px hsl(213, 68%, 30%), 2px -2px hsl(213, 68%, 30%), 3px -3px hsl(213, 68%, 30%);
}

.lifeCounter{
  display: flex;
  width:225px;
  margin-top: 1rem;
  justify-content: space-between;
}
.life{
  height:30px;
  width:30px;
 
}

.guess{

  position: relative;
  width:225px;
  height: 30px;
  margin-top: .5rem;
  background-color: #871838;

  border:#5c1026 1px solid;
  

 
  box-shadow:  -1px 1px #5c1026,
		 -2px 2px #5c1026,
		 -3px 3px #5c1026;
  
}

.guess .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.guess .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.guess:hover .tooltiptext {
  visibility: visible;
}

.guessInfo{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;
  text-align: center;
  line-height: 30px;
}

.hints{
  
  position:absolute;
  left:16rem;
  top:.5rem;
  background-color: #871838;
  
  height: 30px;
  border:#5c1026 1px solid;
  

  border-radius:0 10px 10px 0;
  box-shadow:  -1px 1px #5c1026,
		 -2px 2px #5c1026,
		 -3px 3px #5c1026;
		 
}

.genres{
  display: flex;
  padding-right: 10px;
  
}

.studios{
  display: flex;
  border-left: 1.5px dashed #f4aa89;
  padding-right: 10px
  
}

.relatedAnimeHint{
  display: flex;
  position:absolute;
  right:16rem;
  top:.5rem;
  background-color: rgb(220, 184, 38);
  height: 30px;
  
  justify-content: center;
  align-items: center;
}


.relatedAnimeHint .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.relatedAnimeHint .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.relatedAnimeHint:hover .tooltiptext {
  visibility: visible;
}